
.container{
  width: 40%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 3em;
  display:grid;
  grid-gap: 70px;
  grid-template-columns: repeat(3, 1fr)
}


.item{
  background-color: rgb(26, 6, 6);
  cursor: pointer;
  transition: all 300ms;
  position: relative;
}

.item::after {
 
  position: absolute;
  transform: scale(0);
  transition: all 300ms;

}

.item:hover:after{
  opacity: 1;
  transform: scale(1);
}

.item:hover {
  transform: scale(1.05);
}


.item-img{
  width: 100%;
  display: block;
}


  
footer {
  background-color:#09C7DE ;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width:100%;
}

